
.perspective-ent-col{
    background: #16256a !important;
}

a {
    color: white !important;
}

.nav-collapse span, .nav-collapse span::before, .nav-collapse span::after{
    background:white !important;
}

.center-text{
    text-align: center;
}